<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <title>调查问卷填写数据</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.3/style/weui.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.1/css/jquery-weui.min.css">

</head>
<body>
    <div class="weui-panel weui-panel_access">
        <div class="weui-panel__hd">{$info.YXJC} - {$info.NJ}级</div>
        <a class="weui-cell weui-cell_access" href="./detail?college={$info.YXDM}&name={$info.YXJC}">返回</a>
        <div class="weui-panel__bd">
            {foreach name="$info.class" item="vo"}   
                <div class="weui-media-box weui-media-box_text">
                    <p class="weui-media-box__desc">班级：<strong>{$vo.name}</strong></p>
                    <p class="weui-media-box__desc">完成人数：<strong>{$vo.count}</strong></p>
                </div>
            <!-- </a> -->
            {/foreach}
        </div>
    </div>
    <script src="https://cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery-weui/1.2.1/js/jquery-weui.min.js"></script>
    <script src="http://res2.wx.qq.com/open/js/jweixin-1.4.0.js"></script>
    <script>

    </script>
</body>

</html>
