<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <!-- <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Form_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-form_id" data-rule="required" data-source="form/formlist/getForm" class="form-control selectpage" name="row[form_id]" type="text" value="{$row.form_id}">
        </div>
    </div> -->
    <div class="form-group">
        <label for="c-name" class="control-label col-xs-6 col-sm-2">{:__('问卷名称')}:</label>
        <div class="col-xs-6 col-sm-8" data-toggle="cxselect" data-selects="school" data-required="true">
            <select class="school form-control" name="row[form_id]" data-url="form/formlist/getForm"  type="text" data-value="{$row.form_id}"></select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Start_time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-start_time" data-rule="required" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[start_time]" type="text" value="{$row.start_time|datetime}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('End_time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-end_time" data-rule="required" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[end_time]" type="text" value="{$row.end_time|datetime}">
        </div>
    </div>
    <!-- <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('学院')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-YXDM" data-rule="required" class="form-control" name="row[YXDM]" type="text" value="{$row.YXDM}">
        </div>
    </div> -->
    <div class="form-group">
        <label for="c-name" class="control-label col-xs-6 col-sm-2">{:__('学院')}:</label>
        <div class="col-xs-6 col-sm-8" data-toggle="cxselect" data-selects="college" data-required="true">
            <select class="college form-control" name="row[YXDM]" data-url="form/formlist/college" type="text" data-value="{$row.YXDM}" ></select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('年级')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-NJDM" data-rule="required" class="form-control" name="row[NJDM]" type="text" value="{$row.NJDM}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('班级')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-BJDM" data-rule="required" class="form-control" name="row[BJDM]" type="text" value="{$row.BJDM}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Status')}:</label>
        <div class="col-xs-12 col-sm-8">
            
            <div class="radio">
            {foreach name="statusList" item="vo"}
            <label for="row[status]-{$key}"><input id="row[status]-{$key}" name="row[status]" type="radio" value="{$key}" {in name="key" value="$row.status"}checked{/in} /> {$vo}</label> 
            {/foreach}
            </div>

        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
