/nbproject/
/thinkphp/
/vendor/
/runtime/*
/addons/adminlte
/addons/bootstrap
/addons/example
/addons/simditor
/addons/summernote
/addons/calendar
/sjkglrj/*
/application/admin/command/Install/*.lock
/public/assets/addons/*
/public/uploads/*
.idea
composer.lock
*.log
*.css.map
!.gitkeep
.env
.user.ini
.well-known/
public/assets/js/addons.js
public/assets/js/backend/example/*
application/admin/controller/example/*
application/admin/view/example/*

