/nbproject/
/thinkphp/
/vendor/
/runtime/*
/addons/adminlte
/addons/bootstrap
/addons/example
/sjkglrj/*
/application/admin/command/Install/*.lock
/public/assets/addons/adminlte
/public/assets/addons/bootstrap
/public/assets/addons/example
/public/assets/addons/cms/js
/public/assets/addons/cms/css
/public/assets/addons/cms/fonts
/public/assets/addons/cms/less
/public/uploads/*
.idea
composer.lock
*.log
*.css.map
!.gitkeep
.env
.user.ini
.well-known/
public/assets/js/addons.js
public/assets/js/backend/example/*
application/admin/controller/example/*
application/admin/view/example/*

