<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>报修权限验证中...</title>
    <script>
        var appId = "{$appid}";
        // var redirect_uri = "{$domain}/yibanbx/public/index/bx/{$func}?list_id={$listId}&type={$type}";
        var redirect_uri = "{$domain}/index/bx/{$func}?list_id={$listId}&type={$type}";
        redirect_uri = encodeURIComponent(redirect_uri)
        window.location.href = "https://open.weixin.qq.com/connect/oauth2/authorize?appid="+appId+"&redirect_uri="+redirect_uri+"&response_type=code&scope=snsapi_base&state=STATE#wechat_redirect";
    </script>    
</head>
<body>
    
</body>
</html>