<section class="invoice" >
    <!-- title row -->
    <div id="printcontent">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="page-header">
                    <input type="text" value="true" class="hidden" id="check">
                    <input type="text" value="{$requestUrl}" class="hidden" id="url">
                    2020年长安大学辅导员素质能力考核-准考证
                <small class="pull-right">日期：{$basicInfo.time}</small>
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <p class="lead">考试信息</p>
                <div class="col-xs-3 bmcontent" >
                    <span>姓&nbsp;&nbsp;&nbsp;&nbsp;名:</span>
                    <span>工&nbsp;&nbsp;&nbsp;&nbsp;号:</span>
                    <span>学&nbsp;&nbsp;&nbsp;&nbsp;院:</span>
                    <span>考&nbsp;&nbsp;&nbsp;&nbsp;场:</span>
                    <span>座&nbsp;&nbsp;&nbsp;&nbsp;号:</span>
                    <span>时&nbsp;&nbsp;&nbsp;&nbsp;间:</span>
                </div>
                <div class="col-xs-9 bmcontent border">
                    <strong>{$basicInfo.XM}</strong>
                    <strong>{$basicInfo.GH}</strong>
                    <strong>{$basicInfo.YXJC}</strong>
                    <strong>{$signInfo.KC}</strong>
                    <strong>{$signInfo.ZH}</strong>
                    <strong>2020-10-27</strong>
                </div>
                <style>
                .bmcontent span{
                    display: block;
                    line-height:2.1;
                    font-size: 16px;
                    text-align: right;
                }
                .bmcontent strong{
                    display: block;
                    line-height:2;
                    font-size: 16px;
                    text-align: center;
                }
                .border strong{
                    border-bottom:1px solid #ccc;
                }
                </style>
            </div>
            <div class="col-xs-6">
                <p class="lead">验证二维码</p>
                    <img src="{$imageUrl}" alt="">
            </div>    
            
        </div>

        
		<div class="row" style="margin-top:25px;">
			<div class="col-xs-12 table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>序号</th>
						<th>环节</th>
						<th>时间</th>
					</tr>
				</thead>
				{eq name="$basicInfo.type" value="1"}
				<tbody>
					<tr>
						<td>1</td>
						<td>我写我生</td>
						<td>2020-10-27 9:00-9:30</td>
					</tr>
				</tbody>
				{else/}
				<tbody>
					<tr>
						<td>1</td>
						<td>我写我生</td>
						<td>2020-10-27 9:00-11:00</td>
					</tr>
					<tr>
						<td>2</td>
						<td>基础知识测试</td>
						<td>2020-10-27 9:00-11:00</td>
					</tr>
					<tr>
						<td>3</td>
						<td>宣讲对谈</td>
						<td>2020-11-22</td>
					</tr>
				</tbody>
				{/eq}
			</table>
			</div>
			<!-- /.col -->
		</div>


          <p class="text-muted well well-sm no-shadow" style="margin-top: 10px;">
            <strong>注意事项</strong><br/>
            1.参加考核者须于10月8日-10月12日24:00登陆https://yiban.chd.edu.cn/admin系统报名，选择“信息门户”账号登录，输入门户账号、密码后，打印准考证。<br/>
            2.参加考核者按照准考证规定的时间、地点参加考核。考核采取闭卷笔试形式，全程录像。考核过程中不得使用电脑、手机等电子设备查询资料或携带纸质材料。<br/>
            3.参加考核者原则上不得请假，因特殊原因不能参加考核者须由学院党委书记批准，学工部备案，并给予一次补考机会，时间待定。无故不参加考核者、考核过程有违纪行为者不允许参加补考。<br/>
            4.考核结果通报有关单位，同时作为辅导员年度考核结果的重要依据。<br/>
          </p>
    </div>
    <div class="row"  align="center">
        <!-- <button id="btnPrint" type="button" class="btn  btn-default pull-left" onclick="doPrint2()" style="margin-left: 5px;"><i class="fa fa-print"></i> 打印</button> -->
        <button id="btnPrint" type="button" class="btn  btn-primary" onclick="doPrint2()" ><i class="fa fa-print"></i> 准考证打印</button>
    </div>

</section>

<script>



function doPrint2(){
    if(getExplorer() == "IE"){
        pagesetup_null();
    }
    //根据div标签ID拿到div中的局部内容
    bdhtml=window.document.body.innerHTML; 
    var jubuData = document.getElementById("printcontent").innerHTML;
    // var jubuData = document.getElementById("print").innerHTML;
    //把获取的 局部div内容赋给body标签, 相当于重置了 body里的内容
    window.document.body.innerHTML= jubuData; 
    //调用打印功能
    window.print();
    // window.document.body.innerHTML=bdhtml;//重新给页面内容赋值；
    window.location.reload();
    return false;
}

function pagesetup_null(){                
    var hkey_root,hkey_path,hkey_key;
    hkey_root="HKEY_CURRENT_USER";
    hkey_path="\\Software\\Microsoft\\Internet Explorer\\PageSetup\\";
    try{
        var RegWsh = new ActiveXObject("WScript.Shell");
        hkey_key="header";
        RegWsh.RegWrite(hkey_root+hkey_path+hkey_key,"");
        hkey_key="footer";
        RegWsh.RegWrite(hkey_root+hkey_path+hkey_key,"");
    }catch(e){}
}

function getExplorer() {
    var explorer = window.navigator.userAgent ;
    //ie 
    if (explorer.indexOf("MSIE") >= 0) {
        return "IE";
    }
    //firefox 
    else if (explorer.indexOf("Firefox") >= 0) {
        return "Firefox";
    }
    //Chrome
    else if(explorer.indexOf("Chrome") >= 0){
        return "Chrome";
    }
    //Opera
    else if(explorer.indexOf("Opera") >= 0){
        return "Opera";
    }
    //Safari
    else if(explorer.indexOf("Safari") >= 0){
        return "Safari";
    }
}
</script>